<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.dcmall.back.model.EmbedDTO" alias="embedDTO"/>
        <typeAlias type="com.dcmall.back.model.NotificationDTO" alias="NotificationDTO"/>
        <typeAlias type="com.dcmall.back.model.SelectNotificationDTO" alias="SelectNotificationDTO"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.dcmall.back.FloatArrayTypeHandler" javaType="java.util.ArrayList" jdbcType="ARRAY"/>
    </typeHandlers>

    <mappers>
        <mapper resource="mapper/postgres/embed.xml"/>
        <mapper resource="mapper/postgres/notification.xml"/>
    </mappers>
</configuration>
