<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- typeAliases는 typeHandlers보다 앞에 위치할 수 있습니다. -->
    <typeAliases>
        <typeAlias type="com.dcmall.back.model.DiscordDTO" alias="DiscordDTO"/>
        <typeAlias type="com.dcmall.back.model.MyNotificationDTO" alias="MyNotificationDTO"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/mysql/productinfo.xml"/>
        <mapper resource="mapper/mysql/discord.xml"/>
        <mapper resource="mapper/mysql/notification.xml"/>
    </mappers>
</configuration>
